:root {
    --primary-1: #29537d;
    --primary-2: #6597c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-1);
    padding: 2em;
    text-align: right;
    margin-bottom: 2em;
}

header img {
    height: 20px;
}

main {
    display: flex;
    margin: 0 auto;
}

main .hidden {
    display: none;
}

main form {
    padding: 2em;
    background-color: lightblue;
}

input {
    display: block;
}

form button {
    margin-top: 1em;
}

main th,
main td {
    margin: 0;
    padding: 1em;
    border: 1px solid black;
    border-collapse: collapse;
}

main th {
    background-color: var(--primary-2);
}

button {
    margin-top: 0;
    margin-left: 1em;
    background-color: yellow;
    cursor: pointer;
    padding: 5px;
    height: fit-content;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.5em;
}

footer {
    margin-top: auto;
}